<html>
    <head>
        
    </head>
    <body>        
        <div style="margin: 0; padding: 0; min-height: 100%; width: 100%">
            <table align='center' style='background-color: #f4f4f2; width: 100%; border-collapse: collapse' border='0' cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                <td>
                    <table align='center' border='0' cellpadding='0' cellspacing='0' style='max-width: 100%; min-width: 600px; border-collapse: collapse'>
                    <tbody>
                        <tr>
                        <td>
                            <table border='0' cellpadding='20' cellspacing='0' width='100%' style='border-collapse: collapse'>
                                <tbody>
                                <tr>
                                    <td colspan='2' align='center' style='padding:8px; background: #ffffff; border: solid 1px #c8c8c8; color: white; border-radius: 5px 5px 0 0;'>
                                    <h1 style='margin: 0; line-height: 75px; font-family: ProximaNova,Helvetica Neue,Arial,sans-serif; font-size: 23px; font-weight: normal; width: 100%;'>
                                        <img src='{{logo}}' width='150px' height='auto' style='vertical-align: middle;'>
                                    </h1>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </td>
                </tr>
            </tbody>
            </table>
            <table align='center' style='background-color: #f4f4f2; width: 100%; border-collapse: collapse' border='0' cellpadding='0' cellspacing='0'>
            <tbody>
                <tr>
                <td>
                    <table align='center' border='0' cellpadding='0' cellspacing='0' style='width: 600px; border-collapse: collapse'>
                    <tbody>
                        <tr>
                        <td>
                            <table border='0' cellpadding='0' cellspacing='0' width='100%' style='background-color: white; border-radius: 0 0 5px 5px; margin-bottom: 15px; border: solid 1px #c8c8c8; border-top: none; border-collapse: collapse'>
                                <tbody>
                                <tr>
                                    <td colspan='2' style='padding-top: 22px; padding-left: 22px; padding-right: 22px'>
                                        <p style='font-family: Helvetica Neue,Arial,sans-serif; font-size: 16px; line-height: 50px; color: #4d4d4d; margin-top: 0;'>Hello <b>{{name}}</b>,</p>
                                        <p style='font-family: Helvetica Neue,Arial,sans-serif; font-size: 16px; line-height: 18px; color: #4d4d4d; margin-top: 0; margin-bottom: 20px;'>
                                            Your OTP for Try On Trends is : <br><br>
                                            OTP : <b>{{otp}}</b><br>
                                        </p>

                                        <p style='font-family: Helvetica Neue,Arial,sans-serif; font-size: 14px; line-height: 18px; color: #4d4d4d; margin-top: 20px; margin-bottom: 20px'>

                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan='2' style='padding-left: 22px; padding-right: 22px'>
                                        <p style='margin-top: 15px; font-family: Helvetica Neue,Arial,sans-serif; font-size: 16px; line-height: 18px; color: #4d4d4d; margin-bottom: 20px'>
                                            Sincerly,<br>
                                            Try on Trends Team
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                            <table width='100%' style='border-collapse: collapse'>
                                <tbody>
                                <tr>
                                    <td colspan='2' align='center'>

                                    </td>
                                </tr>
                                <tr>
                                    <td align='center'>
                                        <p style='font-family: Helvetica Neue,Arial,sans-serif; font-size: 11px; line-height: 18px; color: #4d4d4d; margin-top: 0; margin-bottom: 8px'>For help with any of our services, please email our customer support: support@fixcarservices.com.</p>
                                    <p style='font-family: Helvetica Neue,Arial,sans-serif; font-size: 11px; line-height: 18px; color: #4d4d4d; margin-top: 0; margin-bottom: 8px'>
                                        © 2019 - Try On Trend. All rights reserved.
                                    </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </td>
                </tr>
            </tbody>
            </table>
            <div class='yj6qo'></div>
            <div class='adL'></div>
        </div>
    </body>
</html>