{% extends 'custom_admin/base.html' %}
{% load static %}

{% block body %}
<div class="auth-wrapper">
	<!-- [ reset-password ] start -->
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
						<h4 class="mb-3 f-w-400">Reset your password</h4>

						<div class="py-2">
							
								<small id="error" style="color:red;margin-bottom: 100px;"></small>
								<small id="success" style="color:green;margin-bottom: 100px;"></small>
						</div>

						<div id="step-1" class="form-group mb-4">
							<div class="form-group">
								<label>Email Address</label>
								<input type="email" class="form-control" id="email" name="emailAddress" placeholder="Enter your email">							
							</div>
							<button class="btn btn-block btn-primary mb-4" id="requestOtp">submit</button>
						</div>	
						
						<div id="step-2" class="form-group mb-4">
							<div class="form-group">
								<label>Verify OTP</label>
								<input type="password" class="form-control" id="otp" name="verifyOtp"  placeholder="Enter your OTP">								
							</div>
							<button class="btn btn-block btn-primary mb-4" id="verifyOtp">Enter OTP</button>
						</div>

						<div id="step-3" class="form-group mb-4">
							<div class="form-group">								
								<label style="width: 100%;text-align: left;">New Password</label>
								<input type="password" class="form-control" id="password"  name="newPassword" placeholder="Enter password">
	                            <label style="width: 100%;text-align: left;" class="mt-3">Confirm Password</label>
								<input type="password" class="form-control" id="confirm-password"  name="ConfirmPassword" placeholder="Enter confirmpassword">
							</div>
							<button class="btn btn-block btn-primary mb-4" id="changePassword">submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!-- [ reset-password ] end -->
</div>

<script>

	$(document).ready(function(){
		$("#step-1").show();
	  	$("#step-2").hide();
	  	$("#step-3").hide();
	})

	$(document).on('click','#requestOtp',function(){
		$('#success').text("");
		$('#error').text("");
		var email = $('#email').val();
		var url = getUrl('/request-otp');
		var data = {
			'email' : email 
		}
		$.ajax({
			'type' : 'POST',
			'url' : url,
			'data' : data,
			success: function(result){
				$('#step-1').hide();
				$('#step-2').show();
				$('#step-3').hide();
				$('#success').text("Otp sent to your registered email id successfully.");
			},
			error:function(error){
				// console.log(error)
				$('#error').text(error.responseJSON.message);
			}
		});
	});
		
	$(document).on('click','#verifyOtp',function(){
		$('#success').text("");
		$('#error').text("");
		var otp = $('#otp').val();
		var url = getUrl('/verify-otp');
		var data = {
			'otp' : otp 
		}
		$.ajax({
			'type' : 'POST',
			'url' : url,
			'data' : data,
			success: function(result){
	  		$("#step-1").hide();
	 		$("#step-2").hide();
	 		$("#step-3").show();
			$('#success').text("Otp was matched.");
			},
			error:function(error){
				// console.log(error)
				$('#error').text(error.responseJSON.message);
			}
		});
	  });

	$(document).on('click','#changePassword',function(){
		$('#success').text("");
		$('#error').text("");
		var password = $('#password').val();
		var confirmPassword = $('#confirm-password').val();
		if(password==confirmPassword){
			console.log('Password matched');
		}
		else{
			console.log('Password not matched');
		}
		var url = getUrl('/change-password');
		var data = {
			'password' : password 
		}
		$.ajax({
			'type' : 'POST',
			'url' : url,
			'data' : data,
			success: function(result){
				$("#step-1").hide();
				$("#step-2").hide();
				$("#step-3").show();
				$('#success').text("password changed successfully.");
				window.location.replace("/admin/login")
			},
			error:function(error){
				// console.log(error)
				$('#error').text(error.responseJSON.message);
			}
		});

	});
	  
</script>
{% endblock %}

