{% include 'custom_admin/base.html' %}
{% include 'custom_admin/navbar.html' %}
{% load static %}

{% block body %}
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Occupations</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Occupations</a></li>
                            
                            </ul>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-success btn-sm btn-round has-ripple" data-toggle="modal" data-target="#newModel"><i class="feather icon-plus"></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- customar project  start -->
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">                            
                            <div class="table-responsive">
                                <table id="report-table" class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>Title</th> 
                                            <th>Status</th>  
                                            <th class="text-right">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for occupation in occupations %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                           
                                            <td>{{occupation.title}}</td>
                                            <td>
                                                {% if occupation.status == 1 %}
                                                    <span class="badge badge-success">Active</span>
                                                {% else %}
                                                    <span class="badge badge-danger">In Active</span>
                                                {% endif %}
                                            </td>                                       
                                            <td class="text-right">
                                                <button type="button" class="btn btn-info btn-sm editButton" data-id="{{occupation.id}}" data-title="{{occupation.title}}"  data-status="{{occupation.status}}" ><i class="feather icon-edit"></i>&nbsp;Edit </button>
                                                <a href="javascript:void(0)" data-id="{{occupation.id}}" class="btn btn-danger btn-sm deleteButton"><i class="feather icon-trash-2 "></i>&nbsp;Delete </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- customar project  end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>


    <div id="newModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: #000000;" id="exampleModalCenterTitle">Occupation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/admin/occupations" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" id="newTitle" name="title" placeholder="Title" required>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-3">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="select2" id="newStatus" value="0" name="status" required>
                                        <option value="0">Inactive</option>
                                        <option value="1">Active</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center d-flex align-items-center flex-row">
                            <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn  btn-success ml-3" value ="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div id="editModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: #000000;" id="exampleModalCenterTitle">Occupation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="editForm" action="/admin/occupation/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" id="editTitle" name="title" placeholder="Title" required>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-3">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="select2" id="editStatus" value="0" name="status" required>
                                        <option value="0">Inactive</option>
                                        <option value="1">Active</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center d-flex align-items-center flex-row">
                            <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn  btn-success ml-3" value ="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div id="deleteModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-between d-flex align-items-center flex-row">
                    <h5 class="modal-title" style="color: #000000;" id="exampleModalCenterTitle">Confirm Delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body">
                    <p>You are going to delete this?</p>
                    <form method="POST" id="deleteForm" action="/admin/occupation/delete">
                        {% csrf_token %}
                        <input type="hidden" id="deleteOccupationId" name="occupation_id" value="">
                        <div class="justify-content-center d-flex align-items-center flex-row">
                            <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn  btn-success ml-3" value ="Delete">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

<script>

    $('.table').DataTable({});

    $('#newStatus').select2({
        dropdownParent: $('#newModel'),
        placeholder: 'Select status'
    });


    $('#editStatus').select2({
        dropdownParent: $('#editModel'),
        placeholder: 'Select status'
    });


    $(document).on('click', '.editButton', async function(){
        var id = $(this).attr('data-id');
        var title = $(this).attr('data-title');
        var status = $(this).attr('data-status');

        var action = $('#editForm').attr('action');

        action = action + id;

        $('#editForm').attr('action', action);
        $('#editTitle').val(title);
        $('#editStatus').select2({
            dropdownParent: $('#editModel'),
            placeholder: 'Select status'
        }).val(status.toString()).trigger('change');
        $('#editModel').modal('show')
    });



    $(document).on('click', '.deleteButton', function(){
        var id = $(this).attr('data-id');
        $('#deleteOccupationId').val(id);
        $('#deleteModel').modal('show');
    });


</script>

{% for message in messages %}
    <script>
        showNotification('{{message}}', '{{message.tags}}')
    </script>
{% endfor %}


