{% include 'custom_admin/base.html' %}
{% include 'custom_admin/navbar.html' %}
{% load static %}

{% block body %}

<style>
    label{
        font-weight : bold !important
    }
</style>
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Important Documents</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">New Important Document</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <form method="POST" action="/admin/important-document" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label>Title *</label>
                                                    <input type="text" name="title" class="form-control" placeholder="Enter title *" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6 mt-2">
                                                <div class="form-group">
                                                    <label>Status *</label>
                                                    <select class="form-control" name="status" id="status" value="" required>
                                                        <option value="0">Inactive</option>
                                                        <option value="1">Active</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label>Image (2000 * 2000 px) *</label>
                                                    <input type="file" name="image" class="form-control" placeholder="" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label>Banner (1920 * 400 px)*</label>
                                                    <input type="file" name="banner" class="form-control" placeholder="" required>
                                                </div>
                                            </div>
                                            
                                            <div class="col-12 mt-2">
                                                <div class="form-group">
                                                    <label>Description *</label>
                                                    <textarea class="form-control" name="description" id="description" placeholder=""></textarea>
                                                </div>
                                            </div>


                                            <div class="col-12 mt-2">
                                                <div class="form-group">
                                                    <label>Eligibility *</label>
                                                    <textarea class="form-control" name="eligibility" id="eligibility" placeholder=""></textarea>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-2">
                                                <div class="form-group">
                                                    <label>Required Documents *</label>
                                                    <textarea class="form-control" name="required_documents" id="required_documents" placeholder=""></textarea>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-2">
                                                <div class="form-group">
                                                    <label>Web Links (How To Apply) *</label>
                                                    <textarea class="form-control" name="web_links" id="web_links" placeholder=""></textarea>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-2">
                                                <div class="form-group">
                                                    <label>Mode Of Application *</label>
                                                    <textarea class="form-control" name="mode_of_application" id="mode_of_application" placeholder=""></textarea>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                        <center><button type="submit" class="btn btn-primary" >Submit</button></center>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- [ Main Content ] end -->
        </div>
    </div>

    <script>

        $('#status').select2({});
        
        

        $(document).ready(function(){

            new RichTextEditor("#description");
            new RichTextEditor("#eligibility");
            new RichTextEditor("#required_documents");
            new RichTextEditor("#web_links");
            new RichTextEditor("#mode_of_application");
        });  


    </script>
    
    {% for message in messages %}
        <script>
            showNotification('{{message}}', '{{message.tags}}')
        </script>
    {% endfor %}

{% endblock %}

