{% include 'custom_admin/base.html' %}
{% include 'custom_admin/navbar.html' %}
{% load static %}

{% block body %}

<style>
    label{
        font-weight : bold !important
    }
</style>
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Manage Schemes</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Schemes</a></li>
                                <li class="breadcrumb-item"><a href="#!">Edit Schemes</a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <form method="POST" action="/admin/manage-schemes/scheme/{{scheme.id}}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label>Title *</label>
                                                    <input type="text" name="title" class="form-control" value="{{scheme.title}}" placeholder="Enter title *" required>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label>Banner (1920 * 400 px)</label>
                                                    <input type="file" name="banner" class="form-control border px-3" placeholder="Enter title *">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label>Category *</label>
                                                    <select class="form-control" id="category" name="category_id" data-value="{{scheme.category_id}}" value="{{scheme.category_id}}" required>
                                                        <option value=""></option>
                                                        {% for category in categories %}
                                                            <option value="{{category.id}}">{{category.title}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div> 
                                            
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label>Scheme Type *</label>
                                                    <select class="form-control" id="scheme_type" name="scheme_type" data-value="{{scheme.scheme_type}}" value="{{scheme.scheme_type}}" required>
                                                        <option value=""></option>
                                                        <option value="0">Central</option>
                                                        <option value="1">State</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4 mt-2 state-container">
                                                <div class="form-group">
                                                    <label>State</label>
                                                    <select class="form-control"  id="state" name="state" data-value="{{scheme.state_id}}" value="{{scheme.state_id}}">
                                                        <option value=""></option>
                                                        {% for state in states %}
                                                            <option value="{{state.id}}">{{state.state}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label>DBT *</label>
                                                    <select class="form-control" id="dbt" data-value="{{scheme.dbt}}" value="{{scheme.dbt}}" name="dbt" required>
                                                        <option value=""></option>
                                                        <option value="0">No</option>
                                                        <option value="1">Yes</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label>Business Related *</label>
                                                    <select class="form-control" id="business_related" data-value="{{scheme.business_related}}" value="{{scheme.business_related}}" name="business_related" required>
                                                        <option value=""></option>
                                                        <option value="0">No</option>
                                                        <option value="1">Yes</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4 mt-2">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <select class="form-control" name="status" id="status" value="" data-value="{{scheme.status}}" value="{{scheme.status}}" required>
                                                        <option value="0">Inactive</option>
                                                        <option value="1">Active</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4 mt-2">
                                                <div class="form-group">
                                                    <label>For Divyang Category</label>
                                                    <select class="form-control" name="divyang" id="divyang" data-value="{{scheme.divyang}}" value="{{scheme.divyang}}" required>
                                                        <option value="0">Yes</option>
                                                        <option value="1">No</option>
                                                        <option value="2">Both</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4 mt-2">
                                                <div class="form-group">
                                                    <label>Benificiary</label>
                                                    <select class="form-control w-100" name="benificiaries" id="benificiaries" data-value="{{scheme.benificiaries}}" value="{{scheme.benificiaries}}" multiple required>
                                                        <option value="0">BPL</option>
                                                        <option value="1">APL</option>
                                                        <option value="2">AAY</option>
                                                        <option value="3">PHH</option>
                                                        <option value="4">Applied / In Progress</option>
                                                        <option value="5">Not Applicable</option>
                                                        <option value="6">Not Available</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4 mt-2">
                                                <div class="form-group">
                                                    <label>Caste</label>
                                                    <select class="form-control" name="caste" id="caste" data-value="{{scheme.castes}}" value="{{scheme.castes}}" multiple required>
                                                        <option value="0">General</option>
                                                        <option value="1">OBC</option>
                                                        <option value="2">SC</option>
                                                        <option value="3">ST</option>
                                                        <option value="4">Particularly Vulnerable Tribal Group (PVTG)</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4 mt-2">
                                                <div class="form-group">
                                                    <label>Scheme For</label>
                                                    <select class="form-control" name="scheme_for" id="scheme_for" data-value="{{scheme.scheme_for}}" value="{{scheme.scheme_for}}" multiple required>
                                                        <option value="0">Male</option>
                                                        <option value="1">Female</option>
                                                        <option value="2">Transgender</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4 mt-2">
                                                <div class="form-group">
                                                    <label>Marital Status</label>
                                                    <select class="form-control" name="marital_status" id="marital_status" data-value="{{scheme.marital_status}}" value="{{scheme.marital_status}}" multiple required>
                                                        <option value="0">Married</option>
                                                        <option value="1">Unmarried</option>
                                                        <option value="2">Widowed / Widower</option>
                                                        <option value="3">Divorced</option>
                                                        <option value="4">Separted</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4 mt-2">
                                                <div class="form-group">
                                                    <label>Religions</label>
                                                    <select class="form-control" name="religions" id="religions" data-value="{{scheme.religions}}" value="{{scheme.religions}}" multiple required>
                                                        <option value="0">Hindu</option>
                                                        <option value="1">Muslim</option>
                                                        <option value="2">Christian</option>
                                                        <option value="3">Sikh</option>
                                                        <option value="4">Parsion</option>
                                                        <option value="5">Buddhism</option>
                                                        <option value="6">Jain</option>
                                                        <option value="7">No Religion</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="col-12 col-md-4 mt-2">
                                                <div class="form-group">
                                                    <label>Employment Status</label>
                                                    <select class="form-control" name="employments" id="employment" data-value="{{employments}}" value="{{employments}}" multiple required>
                                                        <option value="0">Employed</option>
                                                        <option value="1">Self Employed / Entrepreneur</option>
                                                        <option value="2">Unemployed</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4 mt-2">
                                                <div class="form-group">
                                                    <label>Area of Residence</label>
                                                    <select class="form-control" name="areas" id="area" data-value="{{areas}}" value="{{areas}}" multiple required>
                                                        <option value="0">Urban</option>
                                                        <option value="1">Rural</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-2">
                                                <div class="form-group">
                                                    <label>Occupations</label>
                                                    <select class="form-control" id="occupations" name="occupations" data-value="{{scheme_occupations}}" value="{{scheme_occupations}}" required multiple>
                                                        <option value=""></option>
                                                            {% for occupation in occupations %}
                                                                <option value="{{occupation.id}}">{{occupation.title}}</option>
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label>Min Age</label>
                                                    <input type="number" name="age_min" value="{{scheme.age_min}}" min="0" max="100" class="form-control border px-3" placeholder="" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label>Max Age</label>
                                                    <input type="number" name="age_max" value="{{scheme.age_max}}" min="1" max="100" class="form-control border px-3" placeholder="" required>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label>Min Income</label>
                                                    <input type="number" name="income_min" value="{{scheme.income_min}}" min="0" class="form-control border px-3" placeholder="" required>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label>Max Income</label>
                                                    <input type="number" name="income_max" value="{{scheme.income_max}}" min="0"  class="form-control border px-3" placeholder="" required>
                                                </div>
                                            </div>

                                            
                                            <div class="col-12 mt-2">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" name="description" id="description"  placeholder="">{{scheme.description}}</textarea>
                                                </div>
                                            </div>


                                            <div class="col-12 mt-2">
                                                <div class="form-group">
                                                    <label>Eligibility</label>
                                                    <textarea class="form-control" name="eligibility" id="eligibility" placeholder="">{{scheme.eligibility}}</textarea>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-2">
                                                <div class="form-group">
                                                    <label>Required Documents</label>
                                                    <textarea class="form-control" name="required_documents" id="required_documents" placeholder="">{{scheme.required_documents}}</textarea>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-2">
                                                <div class="form-group">
                                                    <label>Web Links (How To Apply)</label>
                                                    <textarea class="form-control" name="web_links" id="web_links" placeholder="">{{scheme.web_links}}</textarea>
                                                </div>
                                            </div>

                                            <div class="col-12 mt-2">
                                                <div class="form-group">
                                                    <label>Mode Of Application</label>
                                                    <textarea class="form-control" name="mode_of_application" id="mode_of_application" placeholder="">{{scheme.mode_of_application}}</textarea>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                        <center><button type="submit" class="btn btn-primary" >Submit</button></center>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- [ Main Content ] end -->
        </div>
    </div>

    <script>

        $('#status').select2({});

        $('#category').select2({});

        $('#dbt').select2({});

        $('#business_related').select2({});

        $('#scheme_type').select2({});

        $('#state').select2({});

        $('#divyang').select2({});

        $('#benificiaries').select2({});

        $('#occupations').select2({});

        $('#scheme_for').select2({});

        $('#marital_status').select2({});

        $('#caste').select2({});

        $('#religions').select2({});

        $('#employment').select2({});

        $('#area').select2({});

        $(document).ready(function(){
            new RichTextEditor("#description");
            new RichTextEditor("#eligibility");
            new RichTextEditor("#required_documents");
            new RichTextEditor("#web_links");
            new RichTextEditor("#mode_of_application");


            var category = $('#category').attr('data-value');
            var status = $('#status').attr('data-value');
            var scheme_type = $('#scheme_type').attr('data-value');
            var state = $('#state').attr('data-value');
            var dbt = $('#dbt').attr('data-value');
            var business_related = $('#business_related').attr('data-value');
            var divyang = $('#divyang').attr('data-value');
            var benificiaries = $('#benificiaries').attr('data-value');
            var occupations = $('#occupations').attr('data-value');
            var employments = $('#employment').attr('data-value');
            var areas = $('#area').attr('data-value');
            var scheme_for = $('#scheme_for').attr('data-value');
            var marital_status = $('#marital_status').attr('data-value');
            var caste = $('#caste').attr('data-value');
            var religions = $('#religions').attr('data-value');

            $('#category').val(category.toString()).trigger('change');
            $('#status').val(status.toString()).trigger('change');
            $('#scheme_type').val(scheme_type.toString()).trigger('change');
            if(scheme_type == 1){
                $('#state').val(state.toString()).trigger('change');
                $('.state-container').show();
            }
            else{
                $('.state-container').hide();
            }
            $('#dbt').val(dbt.toString()).trigger('change');
            $('#business_related').val(business_related.toString()).trigger('change');
            $('#divyang').val(divyang.toString()).trigger('change');
            $('#benificiaries').val(benificiaries.split(',')).trigger('change');
            $('#scheme_for').val(scheme_for.split(',')).trigger('change');
            $('#caste').val(caste.split(',')).trigger('change');
            $('#marital_status').val(marital_status.split(',')).trigger('change');
            $('#religions').val(religions.split(',')).trigger('change');
            $('#occupations').val(occupations.split(',')).trigger('change');
            $('#employment').val(employments.split(',')).trigger('change');
            $('#area').val(areas.split(',')).trigger('change');
        });  


        
        $(document).on('change', '#scheme_type', function(){
            var value = $(this).val();
            if(value == 1){
                $('.state-container').show();
            }
            else{
                $('.state-container').hide();
            }
        });
        

    </script>
    
    {% for message in messages %}
        <script>
            showNotification('{{message}}', '{{message.tags}}')
        </script>
    {% endfor %}

{% endblock %}

